@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}

.container_general{
  height: 100vh;
  position: relative;
  overflow: auto;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: -1;
}
.container_contenido{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  overflow: auto;
}

.container_contenido > p{
  margin: 0 4%;
  height: 5%;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.principal{
  height: 95%;
  padding: 14px;
  display: flex;
  gap:30px;
  justify-content: center;
}

.seccion_1{
  width:70%;
  padding: 10px;
  border-radius: 10px;
  border:2px solid rgb(128, 125, 125);
  box-shadow: 0 0px 5px inset rgb(202, 200, 200);
}
.contenido{
  padding: 14px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#txtMensaje{
  resize:none ;
  outline: none;
  padding: 20px 30px 0 30px;
  color:#0A3871;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background: #fff;
  opacity: .5;
  border-radius: 15px;
  
}
#txtMensaje::placeholder{
  color:#0A3871;
  opacity: 1;
}
#txtMensaje:focus:visited{
  text-transform: lowercase;
}

.contenido > p {
  text-align: left;
  font-size: 1rem;
  color:#d6d9dc;
  text-shadow: 2px 2px 8px grey;
  display: flex;
  align-content: center;
  font-weight: 600;
  gap:2px;
  width:85%;
  margin-top: 5px;
}

.botones{
  display: flex;
  justify-content: center;
  gap:10px;
  width:95%;
  padding-top: 5px;
}

.botones > button{
  padding: 10px;
  width: 30%;
  margin: 10px 5px;
  font-size: 1.18rem;
  border-radius: 20px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

#encriptar{
  background-color:#096eea;
  opacity: .7;
  color:white;
}

#encriptar:hover{
  background-color: #1a31c9;
}

#desencriptar{
  background-color:#70777e;
  opacity: .7;
  color:white;
}

#desencriptar:hover{
  background-color: #a8adb2;
  color:rgb(54, 39, 39);
}


header{
  display: flex;
  align-items: center;
  width: 100%;
}

.logo{
  width: 10%;
  height: 20%;
  background: linear-gradient( to right,#fff6 10%,transparent);
}


.muñeco{
  width: 100%;
  margin-top: 35px;
}

.seccion_2{
  border:2px solid rgb(128, 125, 125);
  box-shadow: 0 0px 5px inset rgb(202, 200, 200);
  width: 20%;
  border-radius: 60px;
  /* background-color:transparent; */
  opacity: .7;
  backdrop-filter: blur(50px);
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}

.img_mensaje{
  width:80%;
  height: 70%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


.img_mensaje > h2,p{
  text-align: center;
}
.img_mensaje > p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:450;
}

h1{
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  text-shadow: -2px 2px 10px;
  margin-right: 5px;
  color:rgba(5, 52, 128,.9);
  text-shadow: 0 0 8px #000;
  color:#fff9;
}

h2{
  font-weight: bold;
}

.respuesta_boton{
  display: none;
  flex-direction: column;
  gap:8px;
  width: 100%;
  height: 100%;
  padding: 15px 8px;
}

.respuesta_boton > textarea{
  resize: none;
  outline: none;
  overflow: auto;
  padding: 10px;
  font-size: .9rem;
  font-family: "Inter", sans-serif;
  color:#0a036d;
  font-weight: 600;
  border-radius: 15px;
  opacity: .5;
  height:90%;
}

.respuesta_boton>button{
  width: 100%;
  border-radius: 15px;
  font-size: 1.2rem;
  padding:10px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: #4daa8e;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.94);
}

.respuesta_boton >button:hover{
  background-color: #49e1b4;
}


@media (min-width:1025px) and (max-width:1368px){
  .principal{
    padding: 14px 3px 14px 14px;
  }

  header{
    height: 7%;
    padding-top:8px;
  }

  .contenido{
    margin-top: 20px;
    height: 85%;
  }

  .contenido > p{
    text-align: left;
    width: 100%;
  }

  #txtMensaje{
    width: 100%;
    height: 90%;
    font-size: 1.6em;
  }

  .seccion_2{
    width: 25%;
  }
}


@media (min-width:768px) and (max-width:1024px) {
  
  header{
    padding-right: 15px;
    margin-bottom: 5px;
  }
  .logo{
    width:12%;
  }
  h1{
    width: 75%;
    font-size: 1.8em;
  }

  .container_general, .container_contenido{
    overflow: auto;
  }


  .principal{
    gap:10px;
    flex-direction: column;
  }

  .seccion_1{
    width:100%;
    height: 80%;
  }

  .contenido{
    height: 90%;
    padding: 5px;
  }
  .contenido > p{
    align-items: left;
    width:97%;
  }
  .contenido > #txtMensaje{
    width: 97%;
    height: 97%;
    font-size: 1.6em;
  }

  .botones> button{
    width: 40%;
    font-size: 1.5em;
  }


  .seccion_2{
    width:100%;
    height: 20%;
    color:#fff;
    overflow: auto;
  }

  .muñeco{
    display: none;
  }

  .img_mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
  }

  .respuesta_boton{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .respuesta_boton> textarea{
    width: 100%;
    height: 80%;
  }

  /*Expandir */
  .seccion_2.expanded {
    height: 70%;
  }

  .respuesta_boton.expanded > textarea {
    height: 80%;
  }
}

/*Para celular.*/
@media (min-width:330px)and (max-width:767px){
  .principal{
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
  }

  .seccion_1, .seccion_2{
    width: 100%;
  }

  .muñeco{
    display: none;
  }

  .seccion_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .logo{
    width: 50%;
  }

  header h1{
    font-size: 1.5em;
    margin-top: 10px;
  }

  .contenido{
    width: 100%;
    padding: 10px;
  }

  .contenido > p{
    width: 100%;
    text-align: center;
  }

  #txtMensaje{
    width: 100%;
    height: 200px;
  }

  .botones{
    flex-direction: column;
    width: 100%;
  }
  .botones > button{
    width: 100%;
    font-size: 1.2em;
    margin-top: 10px;
  }

  .seccion_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    color:#fff;
  }

  .img_mensaje{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .img_mensaje > h2, .img_mensaje > p{
    text-align: center;
  }

  .respuesta_boton{
    display:none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .respuesta_boton > textarea{
    width: 100%;
    height: 150px;
  }

  .respuesta_boton > button{
    width: 100%;
    font-size: 1em;
    margin-top: 10px;
  }
/*Expandir*/
  .seccion_2.expanded {
    height: 50%;
  }

  .respuesta_boton.expanded > textarea {
    height: 70%;
  }
}